---
---
@import "../node_modules/brand/sass/srobo/variables/index";

label {
	display: block;
	margin-bottom: 5px;
	margin-top: 10px;
}

input {
	border: 1px solid silver;
	background-color: white;
	padding: 2px;
	margin: 5px;
}

li {
	line-height: 1.5em;
	padding-left: 5px;
}

table {
	margin: 0 auto 1em;

	th, td {
		padding: 0.1em 0.5em;
	}

	thead th {
		border-bottom: 2px solid $sr-blue;
	}

	tbody tr {
		&:nth-child(odd) {
			/* TODO: make darker */
			background-color: #E8E8E8;
		}

		&:hover {
			background-color: #E0E0E0;
		}
	}
}

table.schedule {
	td:nth-child(4n+2),
	tr:first-child th:nth-child(n+2) {
		border-right: 10px solid transparent;
	}

	td:nth-child(2) {
		text-align: left;
	}

	td {
		text-align: center;
	}

	td.no_match {
		border: 0 none;
		/* we still want it to take up space on the page,
		* so use visibility instead of display.
		*/
		visibility: hidden;
	}
}
table.schedule tbody tr.current,
div.match.current {
	/* TODO: make darker */
	background-color: #FFFFB0;
}

table.sortable {
	th.sorter {
		cursor: pointer;

		&:after {
			content: " ◊";
			margin-right: 2px;
		}
	}

	th.active:after {
		content: " ▴";
		position: relative;
		top: -0.4em;
	}

	tr.reverse th.active:after {
		content: " ▾";
		top: 0;
	}
}

ul.comp-nav {
	list-style: none;
	margin: 0;

	> li {
		float: right;
		padding: 0 1em;
	}

	> li:not(:first-child) {
		border-right: 1px solid silver;
	}
}
