---
---

/* Schedule page */
#comp_schedule {
	#schedule-filter {
		float: right;

		input[type=checkbox] {
			margin-bottom: 2px;
			vertical-align: bottom;
		}
	}
	#full_schedule {
		div.match-session {
			clear: both;
		}

		th[rowspan] {
			vertical-align: middle;
		}

		colgroup.arena {
			width: 150px;
		}
	}
}

/* League page */
#comp_league {
	th {
		padding: 0 5px;
		vertical-align: middle;
	}

	/* center all the number cols */
	td {
		text-align: center;

		/* but not the team name */
		&:last-child {
			text-align: left;
		}
	}
}

/* Team page */
#comp_team {
	#team-chooser {
		float: right;
	}

	#per-team-details {
		text-align: center;

		p {
			text-align: initial;
		}
	}

	div.matches {
		display: inline-block;
		margin: 0 50px;
		vertical-align: top;

		p {
			margin-left: 0;
			text-align: center;
		}
		.staging-signal {
			color: red;
			font-size: 1.8em;
			font-weight: bold;
		}
		table th {
			padding: 0 5px;
		}
	}

	#upcoming-matches td:last-child {
		text-align: left;
	}

	table.past {
		td {
			&:first-child {
				border-right-style: double;
				border-right-width: 3px;
			}
			&:last-child {
				padding-left: 15px;
				text-align: left;
			}
		}

		.position {
			margin-left: 7px;
		}
	}
}

/* Points page */
#comp_points {
	#match-chooser {
		float: right;
		margin-left: 50px;

		input {
			width: 250px;
		}
	}

	div.points {
		text-align: center;
	}

	div.game {
		display: inline-block;
		padding: 0 10px;

		th {
			padding: 0 5px;
		}

		tbody {
			th {
				border-bottom-width: 1px;
				text-align: right;
			}

			tr:last-child th {
				border-bottom-width: 0px;
			}
		}
	}
}

/* Knockouts page */
#knockouts {
	div.round {
		padding-bottom: 15px;
		padding-top: 15px;
		text-align: center;

		div.match h4 {
			font-size: 1.25em;
			margin-bottom: 0;
		}

		&:nth-child(odd) {
			/* TODO: make darker */
			background-color: #E8E8E8;
		}

		&:nth-last-child(3) div.match {
			/* Quarters */
			font-size: 1.2em;

			div.match li {
				width: 80px;
			}
		}

		&:nth-last-child(2) div.match {
			/* Semis */
			font-size: 1.5em;

			div.match li {
				width: 90px;
			}
		}

		&:nth-last-child(1) div.match {
			/* Finals */
			font-size: 2em;

			div.match li {
				width: 120px;
			}
		}
	}

	div.match,
	/* Special case -- 4 items on the Quarters line since they're all in the same arena
	* Needed to overrrle the `border: none;` in the 3n+1 below, not because it's
	* actually any different
	*/
	div.round:nth-last-child(3) div.match:nth-child(4) {
		border-left: 1px solid lightGrey;
		display: inline-block;
		padding: 5px 0;
	}
	div.match:nth-child(3n+1) {
		border: none;
	}
	div.match span {
		display: block;
	}

	div.game {
		display: inline-block;
		padding: 0 10px;

		ul {
			list-style-type: none;
			margin: 0 10px;
		}

		li {
			float: left;
			text-align: center;
			width: 50px;

			&:nth-child(2) {
				float: right;
			}
			&:nth-child(3) {
				clear: both;
				float: right;
			}
		}

		a.promote {
			font-weight: bold;
		}
	}
}
