# Note: the baseurl used must match that on GitHub, which they pick as being
# the name of the repo.
baseurl: /competition-website
url: https://studentrobotics.org

# We don't currently have teams-status pages, when they reappear uncomment
# the following line
# teams_url: https://studentrobotics.org/teams

title: Student Robotics
description: >
  Student Robotics is an exciting annual competition challenging people aged
  16-19 to assemble a team and build fully autonomous robots.

year: 2024
api_root: https://studentrobotics.org/comp-api

competition_link: https://studentrobotics.org/events/sr2024/competition/
youtube_stream_link: https://www.youtube-nocookie.com/embed/XhEUXg2m31k
venue_layout_link: https://studentrobotics.org/resources/sr2024/venue-map.pdf

# Support branding the "zone" (what SRComp calls a "corner") in line with this year's game.
game_term_zone: Planet

links:
  donate: //link.justgiving.com/v1/charity/donate/charityId/3118662?tipScheme=TipJar2.1&isRecurring=false&amount=10.00&reference=givingcheckout_tj21

markdown: kramdown

timezone: Etc/GMT

twitter_handle: "@StudentRobotics"
social:
  - title: GitHub
    icon: github
    link: https://github.com/srobo
  - title: Twitter
    icon: twitter
    link: https://twitter.com/studentrobotics
  - title: YouTube
    icon: youtube
    link: https://youtube.com/user/StudentRobotics
  - title: Instagram
    icon: instagram
    link: https://www.instagram.com/student_robotics/
  - title: Facebook
    icon: facebook
    link: https://facebook.com/StudentRobotics
  - title: LinkedIn
    icon: linkedin
    link: https://www.linkedin.com/company/10969472/
  - title: TikTok
    icon: tiktok
    link: https://www.tiktok.com/@studentrobotics

sponsors:
  - name: University of Southampton
    link: //www.southampton.ac.uk/
    image: /images/sponsors/university-of-southampton.svg
    logo_width: default

  - name: Adventurous Machines
    link: https://adventurousmachines.com/?ref=studentrobotics
    image: /images/sponsors/adventurous-machines.svg
    logo_width: default

  - name: Mythic Beasts
    link: https://www.mythic-beasts.com/
    image: /images/sponsors/mythic-beasts.svg
    logo_width: default

  - name: ITDev
    link: https://www.itdev.co.uk/
    image: /images/sponsors/itdev.png
    logo_width: 200px

  - name: Bittele
    link: https://www.7pcb.com/
    image: /images/sponsors/bittele.svg
    logo_width: default

  - name: Hexibox
    link: https://hexibox-events.co.uk/
    image: /images/sponsors/hexibox.png
    logo_width: default

  - name: UK Electronics Skills Foundation
    link: https://www.ukesf.org/
    image: /images/sponsors/ukesf.svg
    logo_width: 200px

user_tracking: true

exclude:
  - README.md
  - Rakefile
  - Gemfile
  - Gemfile.lock
  - gems/
  - vendor/
  - run-tests
  - tests/
  - js/lib/angular-storage/test/
  - js/lib/angular-ui-select2/demo/
  - js/lib/angular-ui-select2/docs/
  - js/lib/angular-ui-select2/test/
