.comp-knockout-chart {
  body & {
    height: 1080px;
    width: 1920px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .fixed-width {
    max-width: none !important;
    width: 100%;
    height: 100%;
  }

  .main {
    padding: 0;
  }
}
