.comp-league #content {
	th {
		padding: 0 5px;
		vertical-align: middle;
	}

	/* center all the number cols */
	td {
		text-align: center;

		/* but not the team name */
		&:last-child {
			text-align: left;
		}
	}
}
