.comp-points #content {
  #match-chooser {
    margin-left: 50px;

    input {
      width: 250px;
    }
  }

  div.points {
    text-align: center;

    h4 {
      margin: 0;
    }
  }

  div.game {
    display: inline-block;
    padding: 0 10px;

    th {
      padding: 0 5px;
    }

    tbody {
      th {
        border-bottom-width: 1px;
        text-align: right;
      }

      tr:last-child th {
        border-bottom-width: 0px;
      }
    }
  }
}
