<div class="panel panel-thin">
  <div class="fixed-width">
    <ul class="comp-nav">
      <li><a href="{{ site.competition_link }}">Event Information</a></li>
      <li><a href="{{ site.baseurl }}/comp/team">Team Information</a></li>
      <li><a href="{{ site.baseurl }}/comp/knockout">Knockouts</a></li>
      <li><a href="{{ site.baseurl }}/comp/league">League Status</a></li>
      <li><a href="{{ site.baseurl }}/comp/points">Match Points</a></li>
      <li><a href="{{ site.baseurl }}/comp/schedule">Match Schedule</a></li>
    </ul>
  </div>
</div>
