<nav class="{{ include.class }}">
  <div class="{{ include.class }} mobile-navigation">
    <ul>
      <li><a id="navigation_toggle" href="#"><i class="fa-solid fa-fw fa-bars"></i></a></li>
    </ul>
  </div>
  <ul id="navigation" class="full-navigation mobile-collapsed">
    <li>
      <a class="page-link" href="https://studentrobotics.org/docs/">Docs</a>
    </li>
    <li>
      <a class="page-link" href="https://studentrobotics.org/compete/">Compete</a>
    </li>
    <li>
      <a class="page-link" href="https://studentrobotics.org/volunteer/">Volunteer</a>
    </li>
    <li>
      <a class="page-link" href="https://studentrobotics.org/sponsor/">Sponsor</a>
    </li>
    <li>
      <a class="page-link" href="{{ site.links.donate }}">Donate</a>
    </li>
  </ul>
</nav>
