{% include get_description_for_page.html %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" data-ng-app="app">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture title %}{{ page.title | replace:'$YYYY',site.year }} | {{ site.title }}{% endcapture %}
  <title>{{ title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="description" content="{{ description }}">
  <meta name="theme-color" content="#3270ed">

  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:locale" content="{{ site.locale }}">

  {% if page.image %}
    <meta property="og:image" content="{{ page.image | absolute_url }}">
    {% if page.image_alt %}
      <meta property="og:image:alt" content="{{ page.image_alt }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    <meta property="og:image" content="{{ 'images/logo-image-only.png' | absolute_url }}">
    <meta property="og:image:alt" content="The Student Robotics logo">
    <meta name="twitter:card" content="summary">
  {% endif %}

  <meta name="twitter:site" content="{{ site.twitter_handle }}">
  {% if page.author.twitter_handle %}
  <meta name="twitter:creator" content="{{ page.author.twitter_handle }}">
  {% endif %}

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  {% if site.user_tracking %}
    <link rel="preconnect" href="https://plausible.io" />
  {% endif %}

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
	<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" />

	<script type="text/javascript">
		var API_ROOT = "{{ site.api_root }}";
		var MATCH_TIMING_MODE = "{{ site.match_timing_mode }}";
	</script>

	<script type="text/javascript" src="{{ site.baseurl }}/js/polyfill.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/competition-utils.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular-resource.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/lib/angular-storage/ngStorage.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/lib/angular-ui-select2/src/select2.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/lib/angularjs-ordinal-filter/ordinal.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/competition-filters.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/competition-resources.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/controller-utils.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/controllers/{{ page.angular_controller }}.js"></script>
</head>

<body data-ng-controller="{{ page.angular_controller }}" class="{{ page.path|replace:'.md',''|replace:'.html',''|replace:'/','-' }}">
  {{ content }}
  {% include script.html %}
</body>

</html>
